<html>
    <head>
        <!--Kaden-->
    </head>
    <body>
        <a href="/">Back</a>
        <form action="/first_form_results" method="POST">
            <h1>Enter some information:</h1>
            <label>Favorite Color: <input type="text" name="color"/></label><br>
            <label>Favorite Game: <input type="text" name="game"/></label><br>
            <label>Favorite Number: <input type="number" name="number"/></label><br>
            <button>Submit</button>
        </form>
    </body>
</html>
